.wrapper {
display: block;
content: "";
margin-left: 160px;

}

img {
	border: 1px solid lightgrey;
}

.content dl dd a {
	margin-right: 2px;
}

.accordion .content .active{
background: #e8e8e8;
border-right: 2px solid white;
}

.tabs-content {
}

div.content ul {
	padding-top: 20px;
}

.panel {
	background: white;
}

.accordion dd > a {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 18px;
}

.accordion dd.active p a {
	background: white;
}

:target:before {
    display: block;
    content: "";
    height: 50px;
    margin: -50px 0 0;
}

.outer {
	border: 3px solid #efefef;
	box-shadow: 10px 10px 5px #888888;
}

.title-area {
	width: 160px;
}
.left-sidebar {	
	top: 45px;
	left: 0;
	background-color: #efefef;
	width: 160px;
	height: 100%;
	padding: 3em 1em;
}

.left-sidebar .panel p {

	font-size: 12px;
	padding: 0;
	margin: -7px;
}

.left-sidebar ul {
	text-indent: 1em;
	font-size: 12px;
}

#projects {
	margin-top: 1em;
	margin-bottom: 1em;
}

#return-to-top {
	position: fixed;
	bottom: 0;
	right: 20px;
	margin: 0;

}

#return-to-top a {
		color: white;
}
