body {
	background: url(../images/City-Lights-Theme-HD.jpg);
    background-attachment:fixed;
    background-size: cover;
    background-position: 0 -200px;   
}

nav {
    font-size: 1.25em;
}

.navbar-brand {
    font-size: 1.3em;
}

.well {
    background: rgba(255, 255, 255, 0.85);
    color: rgba(0,0,0,1);
}

.vert-space-70 {
    margin-top: 70px;
}

.profile-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
}

.rssincl-title {
    font-size: 1.25em;
    font-weight: bold;
}

.portfolio img {
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.foot {
    font-size: 2.5em;
    color: white;
    background-color: #222;
    border: 1px solid black;
}

.foot a {
    text-decoration: none;
    color: #333;
}

#bio h1, h2, h3, h4, h5, h6 {
    text-align: center;
    }

#bio p {
    text-indent: 1em;
    hyphens: auto
}
#rssincl-box-876464::before {
    font-size: 1.25em;
    font-weight: bold;
    content: "My latest blog post:"
}

#skills {
    text-align: center;
}

#skills img {
    justify-content: center;
    width: 50px;
    height: auto;
    margin: 0.2em;
}

#skills div {
    margin: 0.2em;
    display: inline-block;
}
